# =========================================================
# ENTORNOS PYTHON
# =========================================================

.venv/
venv/
env/


# =========================================================
# PYTHON
# =========================================================

__pycache__/
*.pyc
*.pyo
*.pyd


# =========================================================
# VARIABLES PRIVADAS
# =========================================================

.env
.env.*
!.env.example


# =========================================================
# EDITORES
# =========================================================

.vscode/
.idea/


# =========================================================
# WINDOWS / MAC
# =========================================================

Thumbs.db
.DS_Store


# =========================================================
# LOGS
# =========================================================

*.log


# =========================================================
# TEMPORALES
# =========================================================

*.tmp
*.bak